*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
#navlist{
  width: 100%;
  padding: 15px;
  list-style: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  align-items: center;
}
nav{
  width: 100%;
}
.container{
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: #e2e5e8;
  background-image: linear-gradient(160deg #e2e5e8 0%,#ffffff 100%);

}
.navcontainer{
  position: relative;
  width:100vw ;
  background-color: #0093E9;
  color: white;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  /* background-image: linear-gradient(160deg #0093E9 0%,#80D0c7 100%); */
  /* background-color:rgb(113, 113, 154,0.776) ; */
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#navlogo{
  font-size: 2.8rem;
  color: white;
}
#navitems{
  display: flex;
  gap: 40px;
  color: azure;
}
.footerbox{
  color: white;

  width: 100%;
  text-align: center;
  min-height: 50px;
  background-color: #0093E9;
  
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  /* background-image: linear-gradient(160deg #0093E9 0%,#80D0c7 100%); */

}
.footerbox p{
  color: white;
  font-size: 2rem;
}
.contentbox{
  width: 50%;
  margin: auto;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 3rem;
  box-shadow: 0px 0px 30px black;
}
.item{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.rightbox{
  position: relative;
  /* overflow: hidden; */
  transition: all 0.3s linear 0s;
  box-shadow: 1px 1p 10px black;
  border-radius: 20px;
}
.rightbox img{
  height: 300px;
  width: 200px;
  border-radius: 20px;
  transition: all 0.6s linear 0s;
  cursor: pointer;
}
.rightbox:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.leftbox{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftbox h2{
  font-size: 2rem;
  color: purple;
}
.ingbox{
  font-size: 1.2rem;
}
.recipebox{
  font-size: 1.2rem;
}

.rightbox .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(36, 34, 34,0.713);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 20px;
  transition: all 0,3s linear 0s ;

}
.rightbox:hover .overlay{
  opacity: 1;
  cursor: pointer;
}
.rightbox .overlay span{
  color: white;
  font-size: 1.2rem;
}




































